[gcode_macro PRINT_START]
gcode:
  # This part fetches data from your slicer. Such as bed, extruder, and chamber temps and size of your printer.
  {% set target_bed = params.BED|int %}
  {% set target_extruder = params.EXTRUDER|int %}
  {% set target_chamber = params.CHAMBER|default("45")|int %}

  BED_MESH_CLEAR                                         # Clear old saved bed mesh (if any)
  SET_GCODE_OFFSET Z=0                                   # Set offset to 0
  LIGHTS_ON                                              ; turn on the lights
  M140 S{target_bed}                                     # Start bed heater
  CG28                                                   # Home (XYZ)
  ;SKEW_PROFILE LOAD=my_skew_profile
  G1 X115 Y115 Z2 F12000                                 # Go to center of the bed
  M190 S{target_bed}                                     # Set the target temp for the bed
  ;G4 P300000                                             # Wait 5 min for the bedtemp to stabilize
  M109 S150                                              # Heat hotend to 150c
  SWIPE                                                  # Clean nozzle
  G28 Z METHOD=CONTACT CALIBRATE=1                       # Calibrate z offset and beacon model
  Z_TILT_ADJUST                                          # Level the printer via Z_TILT_ADJUST
  BED_MESH_CALIBRATE ADAPTIVE=1 ADAPTIVE_MARGIN=5 RUNS=2 # Start the bed mesh (add ADAPTIVE=1) for adaptive bed mesh
  SWIPE                                                  # Clean nozzle
  G28 Z METHOD=CONTACT CALIBRATE=0                       # Calibrate z offset only with hot nozzle
  
  G1 X3 Y3 Z0 F12000                                     # Move to corner
  M104 S{target_extruder}                                # Set extruder to print temp
  M109 S{target_extruder}                                # Wait for extruder temp
  G1 Z0.2 F300                                           # Raise nozzle to 0.2
  G0 E10 F300                                            # Extrude 10mm
  G92 E0.0                                               # Reset extruder distance position
  G1 X60.0 E9.0 F1000.0                                  # Intro line
  G1 X100.0 E21.5 F1000.0                                # Intro line
  G0 Z2                                                  # Raise nozzle to 2
  G92 E0.0                                               # Reset extruder distance position

[gcode_macro PRINT_END]
gcode:
    #   Get Boundaries
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}
    
    #   Check end position to determine safe directions to move
    {% if printer.toolhead.position.z < (max_z - 2) %}
        {% set z_safe = 50.0 %}
    {% else %}
        {% set z_safe = max_z - printer.toolhead.position.z %}
    {% endif %}

    M400                                 ; wait for buffer to clear
    G92 E0                               ; zero the extruder
    G91                                  ; relative positioning
    G0 Z{z_safe} + Z10 F1500             ; move nozzle up
    PARKBUCKET                           ; park nozzle at rear
    G1 E-10.0 F4800                      ; retract
    ;SET_SKEW CLEAR=1
    M84
    OFF

[gcode_macro SWIPE]
variable_start_x: 60
variable_start_y: 240
variable_start_z: 5.5
variable_wipe_dist: 40
variable_wipe_qty: 6
variable_wipe_spd: 200
variable_raise_distance: 5

gcode:
 {% if "xyz" not in printer.toolhead.homed_axes %}
   CG28
 {% endif %}
 
 G90                                     ; absolute positioning
 ## Move nozzle to start position
 G0 Z{start_z} F1500
 G0 Y{start_y} F12000
 G0 X{start_x} F12000
 
 ## Wipe nozzle
 {% for wipes in range(1, (wipe_qty + 1)) %}
   G1 X{start_x - wipe_dist} F{wipe_spd * 60}
   G1 X{start_x} F{wipe_spd * 60}
 {% endfor %}

[gcode_macro PARKCENTER]
gcode:
  CG28                                  ; home if not already homed
  G90                                   ; absolute positioning
  G0 X115 Y115 F12000                   ; park in the bucket

[gcode_macro PARKBUCKET]
gcode:
  CG28                                  ; home if not already homed
  PARKCENTER
  G90                                   ; absolute positioning
  G0 X60 Y237 F12000                    ; park in the bucket
 
[gcode_macro CG28]
gcode:
 {% if "x" not in printer.toolhead.homed_axes or "y" not in printer.toolhead.homed_axes or "z" not in printer.toolhead.homed_axes %}
 G28
 {% endif %}

[gcode_macro OFF]
gcode:
    TURN_OFF_HEATERS
    M107                               ; turn off fan
    M84                                ; disable motors
    
[gcode_macro M201]
gcode:
  {% if 'X' in params or 'Y' in params %}
    {% set accel = (params.X|default(params.Y)|float,
                    params.Y|default(params.X)|float)|min %}
      SET_VELOCITY_LIMIT ACCEL={accel} ACCEL_TO_DECEL={accel * 0.5}
  {% else %}
    SET_VELOCITY_LIMIT
  {% endif %}

[gcode_macro M203]
gcode:
  {% if 'X' in params or 'Y' in params %}
    {% set speed = (params.X|default(params.Y)|float,
                       params.Y|default(params.X)|float)|min %}
    SET_VELOCITY_LIMIT VELOCITY={speed}
  {% else %}
    SET_VELOCITY_LIMIT
  {% endif %}

[gcode_macro M204]
rename_existing: M204.1
gcode:
  {% set f = params.F|default(0.5)|float %}

  {% if 'S' in params %}
    {% set s = params.S|float %}
    SET_VELOCITY_LIMIT ACCEL={s} ACCEL_TO_DECEL={ s * f }
  {% else %}
    {% if 'P' in params %}
      {% set p = params.P|float %}
      {% if 'T' in params %}
        {% set t = params.T|float %}
        {% if p < t %}
          SET_VELOCITY_LIMIT ACCEL={p} ACCEL_TO_DECEL={ p * f }
        {% else %}
          SET_VELOCITY_LIMIT ACCEL={t} ACCEL_TO_DECEL={ t * f }
        {% endif %}
      {% else %}
        SET_VELOCITY_LIMIT ACCEL={p} ACCEL_TO_DECEL={ p * f }
      {% endif %}
    {% elif 'T' in params %}
      {% set t = params.T|float %}
      SET_VELOCITY_LIMIT ACCEL={t} ACCEL_TO_DECEL={ t * f }
    {% endif %}
  {% endif %}

[gcode_macro M205]
gcode:
  {% if 'X' in params or 'Y' in params %}
    {% set corner_speed = (params.X|default(params.Y)|float,
                       params.Y|default(params.X)|float)|min %}
    SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY={corner_speed}
  {% else %}
    SET_VELOCITY_LIMIT
  {% endif %}

[gcode_macro M600]
gcode:
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-50 F1000
    RESTORE_GCODE_STATE NAME=M600_state

[gcode_macro M900]
gcode:
	# Parameters
	{% set pa = params.K|float %}
	SET_PRESSURE_ADVANCE ADVANCE={pa}

[gcode_macro M486]
gcode:
  # Parameters known to M486 are as follows:
  #   [C<flag>] Cancel the current object
  #   [P<index>] Cancel the object with the given index
  #   [S<index>] Set the index of the current object.
  #       If the object with the given index has been canceled, this will cause
  #       the firmware to skip to the next object. The value -1 is used to
  #       indicate something that isn’t an object and shouldn’t be skipped.
  #   [T<count>] Reset the state and set the number of objects
  #   [U<index>] Un-cancel the object with the given index. This command will be
  #       ignored if the object has already been skipped

  {% if 'exclude_object' not in printer %}
    {action_raise_error("[exclude_object] is not enabled")}
  {% endif %}

  {% if 'T' in params %}
    EXCLUDE_OBJECT RESET=1

    {% for i in range(params.T | int) %}
      EXCLUDE_OBJECT_DEFINE NAME={i}
    {% endfor %}
  {% endif %}

  {% if 'C' in params %}
    EXCLUDE_OBJECT CURRENT=1
  {% endif %}

  {% if 'P' in params %}
    EXCLUDE_OBJECT NAME={params.P}
  {% endif %}

  {% if 'S' in params %}
    {% if params.S == '-1' %}
      {% if printer.exclude_object.current_object %}
        EXCLUDE_OBJECT_END NAME={printer.exclude_object.current_object}
      {% endif %}
    {% else %}
      EXCLUDE_OBJECT_START NAME={params.S}
    {% endif %}
  {% endif %}

  {% if 'U' in params %}
    EXCLUDE_OBJECT RESET=1 NAME={params.U}
  {% endif %}

[gcode_macro PID_EXTRUDER]
description: PID Tune for the Extruder
gcode:
  {% set TARGET_TEMP = params.TARGET_TEMP|default(260)|float %}
  PID_CALIBRATE HEATER=extruder TARGET={TARGET_TEMP}
  TURN_OFF_HEATERS
  SAVE_CONFIG

[gcode_macro PID_BED]
description: PID Tune for the Bed
gcode:
  {% set TARGET_TEMP = params.TARGET_TEMP|default(110)|float %}
  PID_CALIBRATE HEATER=heater_bed TARGET={TARGET_TEMP}
  TURN_OFF_HEATERS
  SAVE_CONFIG

[gcode_macro LIGHTS_OFF]
gcode:
    SET_LED LED=lights RED=0 GREEN=0 BLUE=0 WHITE=0

[gcode_macro LIGHTS_ON]
gcode:
    SET_LED LED=lights RED=1 GREEN=1 BLUE=1 WHITE=1

[gcode_macro LIGHTS_TOGGLE]
gcode:
    {% if printer["neopixel lights"].color_data[1][2] > 0 %}
    LIGHTS_OFF
    {% else %}
    LIGHTS_ON
    {% endif %}