[include mainsail.cfg]
[include chopper_tune.cfg]
[include mainsail.cfg]
[include macros.cfg]
[include PIS.cfg]
[include config_backup.cfg]

[exclude_object]

[skew_correction]

[save_variables]
filename: ~/printer_data/config/variables.txt

[force_move]
enable_force_move: true

#[autotune_tmc extruder]
#motor: moons-cse14hra1l410a
#tuning_goal: performance
#voltage: 24.0

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_35FFD6054246303035591457-if00

[mcu z]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0

[static_digital_output usb_pullup_enable]
pins: !PA14

[beacon]  
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevD_435FD3F8515137474C202020FF0C0D2D-if00
x_offset: 0  
y_offset: 25 
mesh_main_direction: x  
mesh_runs: 2
speed: 8                            # Z probing dive speed.
lift_speed: 8                       # Z probing lift speed.
contact_max_hotend_temperature: 275 # Increase to probe at print temps
home_xy_position: 115, 115          # Update with your safe position
home_z_hop: 5
home_z_hop_speed: 8
home_xy_move_speed: 400
home_method: proximity              # Use proximity for induction homing
home_method_when_homed: proximity   # After initial calibration use induction
home_autocalibrate: never           # Contact will calibrate beacon on first home

[bed_mesh]
speed: 400
mesh_min: 25, 25
mesh_max: 205, 210
zero_reference_position: 115, 115
probe_count: 20, 20
fade_start: 1
fade_end: 10
adaptive_margin: 5
split_delta_z: .025
move_check_distance: 5.0
mesh_pps: 2,2
algorithm: bicubic
bicubic_tension: 0.2

[z_tilt]
z_positions:
	0,0
    115,210
 	230,0

points:
	25,25
    115,185
	205,25
speed: 400		
horizontal_move_z: 5
retries: 10
retry_tolerance: 0.02

[screws_tilt_adjust]
speed: 400
horizontal_move_z: 5
screw_thread: CW-M4
screw1: 20, 0
screw1_name: front left
screw2: 210, 0
screw2_name: front right
screw3: 210, 195
screw3_name: back right
screw4: 20, 195
screw4_name: back left

[stepper_x]
step_pin: PB13
dir_pin: PB12
enable_pin: !PB14
microsteps: 16
full_steps_per_rotation: 200 #1.8deg Motor
rotation_distance: 40
endstop_pin: ^PC0
position_min: -23
position_endstop: -23
position_max: 237
homing_speed: 40
homing_retract_dist: 0

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 1.0
#run_current: 1.2
#Tuned chopper-resonance-tuner speed 91 cur 1.2
#driver_TBL: 0
#driver_TOFF: 1
#driver_HSTRT: 1
#driver_HEND: 2
#Tuned chopper-resonance-tuner speed 80 cur 1.0
driver_TBL: 0
driver_TOFF: 8
driver_HSTRT: 7
driver_HEND: 3

[stepper_y]
step_pin: PB10
dir_pin: PB2
enable_pin: !PB11
microsteps: 16
full_steps_per_rotation: 200 #1.8deg Motor
rotation_distance: 40
endstop_pin: ^PC1
position_min: -4
position_endstop: -4
position_max: 246
homing_speed: 40
homing_retract_dist: 0

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 1.0
#run_current: 1.2
#Tuned chopper-resonance-tuner speed 91 cur 1.2
#driver_TBL: 0
#driver_TOFF: 1
#driver_HSTRT: 1
#driver_HEND: 2
#Tuned chopper-resonance-tuner speed 80 cur 1.0
driver_TBL: 0
driver_TOFF: 8
driver_HSTRT: 7
driver_HEND: 3

[stepper_z] #Front Left
step_pin: z:PB3
dir_pin: !z:PB2
enable_pin: !z:PA5
microsteps: 16
full_steps_per_rotation: 200 #1.8deg Motor
rotation_distance: 8 # ACME lead screw
endstop_pin: probe:z_virtual_endstop # use beacon as virtual endstop
position_min: -10
position_max: 250
homing_speed: 8
homing_retract_dist: 0               # beacon needs this to be set to 0

[stepper_z1] # Rear
step_pin: z:PC6
dir_pin: !z:PC7
enable_pin: !z:PD6
microsteps: 16
full_steps_per_rotation: 200 #1.8deg Motor
rotation_distance: 8 # ACME lead screw

[stepper_z2]  #Front Right
step_pin: z:PD7
dir_pin: !z:PC5
enable_pin: !z:PD6
microsteps: 16
full_steps_per_rotation: 200 #1.8deg Motor
rotation_distance: 8 # ACME lead screw

[extruder]
step_pin: PB3
dir_pin: !PB4
enable_pin: !PD2
microsteps: 16
full_steps_per_rotation: 200 #1.8deg Motor
gear_ratio: 60:8 #Alu VZhextrudort Moons 8T
rotation_distance: 35.442 #Tuned 100mm
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 1000.0 #Hextrudort
max_extrude_cross_section: 500 #Hextrudort
max_extrude_only_velocity: 200 #Hextrudort
max_extrude_only_accel: 10000 #Hextrudort
heater_pin: PC8
sensor_type: MAX31865 # PT1000
sensor_pin: PA9
spi_software_sclk_pin: PA15 
spi_software_mosi_pin: PB9 
spi_software_miso_pin: PB5 
rtd_nominal_r: 1000 #PT100 100
rtd_reference_r: 4300 #PT100 430
rtd_num_of_wires: 2
rtd_use_50Hz_filter: False
# Rapido 260 degrees Celsius target / 25% Part Fan CPAP / Levoit Low / Bento Box On / RCSC 60%
control = pid
pid_kp = 21.262
pid_ki = 1.817
pid_kd = 62.192
min_extrude_temp: 0
min_temp: 0
max_temp: 350
pressure_advance_smooth_time: 0.02

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.7

[firmware_retraction]
retract_length: 0.5
retract_speed: 80
unretract_speed: 80

[heater_bed]
heater_pin: PC9
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC3
# Stock hardware, 110 C + Levoit Low + Bento Box + 20% BTT CPAP + 270 C Hotend
control = pid
pid_kp = 71.964
pid_ki = 0.822
pid_kd = 1576.011
min_temp: 0
max_temp: 120

[heater_fan hotend_fan]
pin: z:PB4 
heater: extruder
heater_temp: 50.0
fan_speed: 0.6

[fan] # Print Cooling Fan
pin: PC6
max_power: 0.8
shutdown_speed: 0
cycle_time: 0.005
hardware_pwm: False
kick_start_time: 0.100
off_below: 0.1

[controller_fan psu_cooling_fan]
pin: PC7

[controller_fan bento_box]
pin: z:PD5         # Hotend heater pin
fan_speed: 0.8
idle_timeout: 600 # 10 minutes
heater: extruder
stepper: 

[output_pin RSCS]
pin: z:PD4 # Bed heater pin
pwm: true

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor s905x3]
sensor_type: temperature_host
sensor_path: /sys/class/thermal/thermal_zone0/temp
min_temp: 0
max_temp: 100

[temperature_sensor chamber]
sensor_type: ATC Semitec 104GT-2
sensor_pin: PA0
min_temp: 0
max_temp: 100

[neopixel lights]
pin: PA8
chain_count: 36
color_order: GRBW
initial_RED: 1.0
initial_GREEN: 1.0
initial_BLUE: 1.0
initial_WHITE: 1.0

[printer]
kinematics: corexy
max_velocity: 2000
max_accel: 20000
max_z_velocity: 15
max_z_accel: 500
square_corner_velocity: 10

[gcode_arcs]
resolution: 0.1

[idle_timeout]
gcode:
    {% if "xyz" in printer.toolhead.homed_axes %}
        G91                  # Relative positioning
        G1 Z10               # Move up 10mm
        G90                  # Absolute positioning
        PARKBUCKET           # Park nozzle at the bucket
    {% endif %}
    OFF
    LIGHTS_OFF
timeout: 3600                # 1 Hour

[input_shaper]
shaper_freq_x: 86.0
shaper_type_x: ei
damping_ratio_x: 0.044

shaper_freq_y: 53.0
shaper_type_y: mzv
damping_ratio_y: 0.046

#motor_freq_x: 256.3
#motor_damping_ratio_x: 0.172

#motor_freq_y: 256.3
#motor_damping_ratio_y: 0.172

[axis_twist_compensation]
calibrate_x: 115
calibrate_start_x: 25
calibrate_end_x: 205
calibrate_y: 140
calibrate_start_y: 25
calibrate_end_y: 210

[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : True  ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 0.0   ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 0.0   ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 2.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 1.0   ; the value to retract while PAUSE
variable_cancel_retract   : 10.0  ; the value to retract while CANCEL_PRINT
variable_speed_retract    : 60.0  ; retract speed in mm/s
variable_unretract        : 1.0   ; the value to unretract while RESUME
variable_speed_unretract  : 60.0  ; unretract speed in mm/s
variable_speed_hop        : 5.0   ; z move speed in mm/s
variable_speed_move       : 100.0 ; move speed in mm/s
variable_park_at_cancel   : True  ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : -10   ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : 235   ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
gcode:

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [beacon model default]
#*# model_coef = 1.4295313115063109,
#*# 	1.7377958654593713,
#*# 	0.7473273034600157,
#*# 	0.40356933478818396,
#*# 	0.3903678431790495,
#*# 	0.2327965194686797,
#*# 	-0.24915363027220847,
#*# 	-0.1248849343467642,
#*# 	0.2808590627683685,
#*# 	0.1523799401192854
#*# model_domain = 3.124325228940093e-07,3.32378810682819e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 27.162783
#*# model_offset = 0.00000
